.select_category {
    position: relative;
    min-height: 100px;
}

.search_text {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.search_text button {
    width: 10%;
    height: 50px;
}

.search_text mat-form-field {
    display: block;
    width: 40%;
    font-size: large;
}

.order mat-form-field {
    float: right;
    font-size: large;
}

.eval_eval_list {
    position: relative;
    display: block;
    width: 100%;
    justify-content: center;
}



.pagination_class {
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.not_result {
    font-size: xx-large;
    width: 100%;
    color: rgb(175, 184, 181);
    text-align: center;
    margin-top: 10%;
}

@media screen and (max-width: 1060px) {
    .eval_home_list {
        justify-content: inherit;
        flex-wrap: wrap;
    }
    .eval_container_01 {
        width: 100%;
        border: 1px solid black;
    }
    .search_text mat-form-field {
        width: 80%;
    }
    .order mat-form-field {
        width: 30%;
    }
}