<hr class="hr_01">
<h1 class="subject">이메일을 확인해주세요.</h1>
<hr class="hr_01">
<div *ngIf = "check == 1" class="join_success_01">
    <div class = "mark_div">
        <div class="success_mark material-icons">contact_support</div>
    </div>

    <h1>확인필요</h1>
    <p>{{user_login_id}}님의 이메일로 회원가입완료 메일을 발송하였습니다.<br>확인이 필요합니다. <br>감사합니다.<br>
    이메일 재발송을 원하실 경우 다음 버튼을 눌러주세요.</p>
    <button *ngIf = "sendAgain == 1" mat-raised-button (click) = "sendEmailAgain()" color="primary">재발송</button>
</div>

<div *ngIf = "check == 2" class="join_success_01 verify">
    <div class = "mark_div ">
        <div class="success_mark material-icons verify">done_all</div>
    </div>

    <h1>인증완료</h1>
    <p>{{user_login_id}}님의 이메일이 인증되었습니다.<br>가입해주셔서 감사합니다.<br></p>
    <button mat-raised-button routerLink="/member/login" color="primary">로그인하러 가기</button>
</div>


<div *ngIf = "check == 3" class="join_success_01 error">
    <div class = "mark_div">
        <div class="success_mark material-icons error">highlight_off</div>
    </div>

    <h1>인증실패</h1>
    <p>잘못된 요청입니다.</p>
</div>
<app-loading-spin [loading] = "loading"></app-loading-spin>

