/*평가에 관한 css*/
.eval_evaluation_content_01{
    display: flex;
    justify-content: center;
    align-items: center;
}

.eval_sq_arrow_01 {
    width: 35px;
    height: 70px;
    position: relative;
    background: #F2F2F2;
}

.eval_sq_arrow_01.active {
    width: 45px;
    height: 80px;
}

.eval_sq_arrow_01:after{
    content: "";
    position: absolute;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    bottom: 0;
    width: 0;
    height: 0;
}

.eval_sq_arrow_01.active:after {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.eval_sq_arrow_01:before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}

.eval_sq_arrow_01.active:before {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}

.eval_arrow_warning_01 {
    font-weight: bold;
    margin-left: 20px;
}

.eval_arrow_warning_01:after {
   
    left: 16px;
    border-right: 20px solid #262626;
  
}

.eval_arrow_warning_01:before {
   
    right: 34px;
    border-right: 20px solid #F2F2F2;
   
}

.eval_arrow_warning_01.active {
    background-color: black;
    color: white;
}

.eval_arrow_warning_01.active:after {
   
    left: 26px;
  
}

.eval_arrow_warning_01.active:before {
    right: 44px;
    border-right-color: black;
}

.eval_arrow_01 {
    width: 0;
    height: 0;
    position: relative;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.eval_arrow_01.active {
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
}
.eval_arrow_01:after{
    content: "";
    position: absolute;
    bottom: -35px;
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
}
.eval_arrow_01.active:after {
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    bottom: -45px;
}

.eval_arrow_bad_01{
    border-right: 40px solid #F2F2F2;
}

.eval_arrow_bad_01:after{
    left: 26px;
    border-right: 15px solid #262626;
}

.eval_arrow_bad_01.active{
    border-right-color: rgb(116, 110, 110);
}

.eval_arrow_good_01{
    border-left: 40px solid #F2F2F2;
}
.eval_arrow_good_01:after{
    right: 26px;
    border-left: 15px solid #262626;
}
.eval_arrow_good_01.active{
    border-left-color: #00B0F0;
}

.eval_arrow_reco_01{
    font-weight: bold;
    text-align: right;
    color: black;
    margin-right: 20px;

}

.eval_arrow_reco_01:after{
   
    left: 0;
    border-left: 20px solid #262626;
   
}

.eval_arrow_reco_01:before{
  
    right: -19px;
    border-left: 20px solid #F2F2F2;
  
}

.eval_arrow_reco_01.active{
    color:white;
    background-color: #00B0F0;
}

.eval_arrow_reco_01.active:before{
    border-left-color: #00B0F0;
}

.eval_arrow_very_good_01{
    border-left: 40px solid #F2F2F2;
}
.eval_arrow_very_good_01:after{
    right: 26px;
    border-left: 15px solid #262626;
}
.eval_arrow_very_good_01.active{
    border-left-color: yellow;
}

.eval_arrow_excellect_01:after{
   
    left: 0;
    border-left: 20px solid #262626;
   
}

.eval_arrow_excellect_01:before{
  
    right: -19px;
    border-left: 20px solid #F2F2F2;
  
}

.eval_arrow_excellect_01.active{
    color:white;
    background-color: yellow;
}

.eval_arrow_excellect_01.active:before{
    border-left-color:yellow;
}

.between_bad_good{
    margin: 0 4px;
}
/*************평가에 관한 css 끝*********/