/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.subject {
    display: flex;
    /* justify-content: center; */
    color: gray;
}
.hr_01 {
    
    border-top: 3px solid gray;
    width: 0%;
    margin-left: 0px;
    text-align: left;
    transition: width 2s;

}

button:focus{
    outline: none !important;
    outline-style: none !important;
}

.hr_01.active{
    width: 70%;
}

.root_main{
    
    min-height: 1100px;
    margin:0 auto;
    width: 70%;
    /* border:1px solid black; */
}

/* angular material 체크박스 */
.mat-checkbox-inner-container{
    height:20px !important;
    width:20px !important;
}

.work_input.isEndDate .mat-checkbox-inner-container{
    height:35px !important;
    width:35px !important;
}



@media screen and (max-width: 1060px) {
   
.root_main{
    
    min-height: 500px;
    margin:0 auto;
    width: 98%;
    /* border:1px solid black; */
}
}