/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.subject {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    color: gray;
    /* min-height: 50px; */
    height:50px;
    width:50%;
    opacity: 0;
    white-space: nowrap;
    background-color: #262626;
    color:white;
    position: relative;
    /* line-height: 0px; */
    transition: opacity 2s, width 2s;
    margin: 0 auto;
}

.subject.active{
    width:100%;
    opacity: 1;
}

.hr_01 {
    
    border-top: 3px solid gray;
    width: 0%;
    /* margin-left: 0px; */
    /* text-align: left; */
    transition: width 2s;
    /* margin:1px 0 ; */
    margin-top: 5px;
    margin-bottom: 5px;

}

button:focus{
    outline: none !important;
    outline-style: none !important;
}

.hr_01.active{
    width: 100%;
}

.root_main{
    
    min-height: 1100px;
    margin:0 auto;
    width: 70%;
    /* border:1px solid black; */
}

/* angular material 체크박스 */
.mat-checkbox-inner-container{
    height:20px !important;
    width:20px !important;
}

.work_input.isEndDate .mat-checkbox-inner-container{
    height:35px !important;
    width:35px !important;
}
.clear{
    clear: both;
    margin-bottom: 100px;
}

.comment.mat-form-field-appearance-outline .mat-form-field-outline{
    color: white;
}

.comment.one.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color:yellow;
}

.comment.two.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color:rgb(153, 177, 255);
}

@media screen and (max-width: 1060px) {
    body{
        width:100%;
        overflow-x: hidden;
    }
   
.root_main{
    
    min-height: 500px;
    margin:0 auto;
    width: 98%;
    /* border:1px solid black; */
}
}