/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';


.subject {
    display: flex;
    /* justify-content: center; */
    color: gray;
}
.hr_01 {
    
    border-top: 3px solid gray;
    width: 0%;
    margin-left: 0px;
    text-align: left;
    transition: width 2s;

}

button:focus{
    outline: none !important;
    outline-style: none !important;
}

.hr_01.active{
    width: 70%;
}