<h1 mat-dialog-title>아티스트 찾기(Search Artist)</h1>
<div mat-dialog-content>
    <div id="artist_search_list" class="artist_search_list">
        <h1>아티스트 선택</h1>
        <mat-form-field>
            <input [(ngModel)] = "artist.searchText" (keyup.enter)="selectArtistList(artist.pageNum)" matInput placeholder="저작자 검색">
        </mat-form-field>
        <button (click) = "selectArtistList(artist.pageNum)" mat-raised-button color="accent">검색</button>
        <div class = "not_result" *ngIf="artist_list.length ==0">검색결과가 없습니다.</div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="artist.step.list == i" (opened)="setStepList($event,i)"
                *ngFor="let item of artist_list; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span id="w_{{i}}"></span>
                        <mat-checkbox [(ngModel)]="artist.checkBox.list[i]" color="primary"
                            (change)="checkAddArtist($event,i)" (click)="removeEventEffectAnymore($event)">
                        </mat-checkbox>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{item.art_name}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- <span id = "w_{{i}}"></span> -->
               
                <app-artist-detail *ngIf = "artist.step.list == i" [artist_id]="item.artist_id" [autoLoading]="1" [index] = "i"></app-artist-detail>
                
                <mat-action-row>
                    <button *ngIf="artist.checkBox.list[i] == undefined || artist.checkBox.list[i] == false" mat-button
                        (click)="addArtist(i)">저작자로 추가</button>
                    <button *ngIf="artist.checkBox.list[i] == true" mat-button (click)="removeArtist(i)">제거</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="artist_list.length > 0" class="pagination_class">
            <ngb-pagination [collectionSize]="artist.totalSize.list" [pageSize]="artist.pageSize.list"
                [(page)]="artist.pageNum" aria-label="Default pagination" (pageChange)="selectArtistList(artist.pageNum)">
            </ngb-pagination>
        </div>
    </div>
    <hr class="artist_dialog_hr">
    <div class="artist_selected_list">
        <h1>선택된 아티스트</h1>
        <div class = "not_result" *ngIf="art_create_list.length == 0">추가된 저작자가 없습니다.</div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="artist.step.sel_list == i" (opened)="setStepSelList(i)"
                *ngFor="let item of art_create_list; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <button mat-button (click)="removeSelArtist(i)">제거</button>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{item.art_name}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <span id="s_{{i}}"></span>
                
                <app-artist-detail *ngIf = "artist.step.sel_list == i" [artist_id]="item.artist_id" [autoLoading]="1" [index] = "i"></app-artist-detail>
               
                <mat-action-row>
                    <button mat-button (click)="removeSelArtist(i)">제거</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirm()">확인</button>
    <button mat-button (click)="close()">취소</button>
    <div class = "work_create_date_div"></div>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>