<div [hidden]="home_loading == 1">
    <div [hidden]="seeEval.length == 0 ">
        <hr class="hr_01">
        <h1 class="subject">보는 것</h1>
        <hr class="hr_01">
    </div>
    <div class="eval_home_list">
        <div *ngFor="let item of seeEval; let i = index; let last = last">
            <app-eval-object [item]="item" [index]="i" [autoEffect]="1"></app-eval-object>
        </div>
    </div>
    <div  style = "clear:both"></div>
    <div [hidden]="listenEval.length == 0 ">
        <hr class="hr_01">
        <h1 class="subject">듣는 것</h1>
        <hr class="hr_01">
    </div>
    <div class="eval_home_list">
        <div *ngFor="let item of listenEval; let i = index; let last = last">
            <app-eval-object [item]="item" [index]="i + 4"></app-eval-object>
        </div>
    </div>
    <div style = "clear:both"></div>
    <div [hidden]="doEval.length == 0">
        <hr class="hr_01">
        <h1 class="subject">하는 것</h1>
        <hr class="hr_01">
    </div>
    <div class="eval_home_list">
        <div *ngFor="let item of doEval; let i = index; let last = last">
            <app-eval-object [item]="item" [index]="i + 8" [autoEffect]="1"></app-eval-object>
        </div>
    </div>
</div>
<div class="loadingSpinDiv" *ngIf="home_loading == 1">
    <div>
        <mat-spinner class="loading_spin spin1"></mat-spinner>
    </div>
</div>