


.eval_home_list{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: block;
    position: relative;
    width:100%;
}



@media screen and (max-width: 1060px) {
    .eval_home_list {
        justify-content: inherit;
        flex-wrap: wrap;
       
    }
}

@media screen and (max-width: 992px) {
   
}