<hr class="hr_01">
<h1 class="subject">저작물 작성</h1>
<hr class="hr_01">
<div class="after_works_save" [ngClass]="{'active':add.evaluateAdd}">
    <div class="before_works_mark" >
        <mat-icon  *ngIf="add.evaluateAdd == false" [ngClass]="{'active':add.evaluateAdd}" class="regist_icon">block</mat-icon>
        <mat-icon *ngIf="add.evaluateAdd == true" [ngClass]="{'active':add.evaluateAdd}" class="regist_icon">done_outline</mat-icon>
    </div>
    <div class="regist_block">
        <mat-icon [ngClass]="{'active':add.worksAdd}" class="regist_icon">subject</mat-icon><span
            *ngIf="add.worksAdd == false">저작물 등록안됨</span><span *ngIf="add.worksAdd == true"
            class="active">{{data.work.subject}}</span>
    </div>
    <div class="regist_block">
        <mat-icon [ngClass]="{'active':add.artistAdd}" class="regist_icon">create</mat-icon><span
            *ngIf="add.artistAdd == false">저작자 등록안됨</span><span class="active"
            *ngIf="add.artistAdd == true">{{data.artist.art_name}}</span><button *ngIf="add.artistAdd == false"
            (click)="addArtist()" mat-raised-button color="primary">등록</button>
    </div>
    <div class="regist_block">
        <mat-icon [ngClass]="{'active':add.evaluateAdd}" class="regist_icon">comment</mat-icon><span
            *ngIf="add.evaluateAdd == false">코멘트 등록불가</span><button *ngIf="add.evaluateAdd == true" mat-raised-button
            color="primary">평가 등록</button>
    </div>

</div>