<hr class="hr_01">
<h1 class="subject">로그인</h1>
<hr class="hr_01">

<div class="login_div">
    <div class="login_welcome">TheComments<br>로그인</div>
    <form class="login_form">
        <mat-form-field class="input_form_02" appearance="outline">
            <mat-label>아이디</mat-label>
            <input class="login_mat" matInput [formControl]="loginData.user_login_id" placeholder="아이디" value="">
            <mat-hint>아이디를 입력해주세요.</mat-hint>
            <mat-error *ngIf="loginData.user_login_id.hasError('required')">아이디를 입력해주세요.</mat-error>
        </mat-form-field>

        <mat-form-field class="input_form_02" appearance="outline">
            <mat-label>패스워드</mat-label>
            <input class="login_mat" matInput [formControl]="loginData.password" [type]="'password'" placeholder=""
                value="">
            <mat-hint>패스워드를 입력해주세요.</mat-hint>
            <mat-error *ngIf="loginData.user_login_id.hasError('required')">패스워드를 입력해주세요.</mat-error>
        </mat-form-field>
        <mat-spinner class = "loading_spin spin1" *ngIf ="loading.login == 1"></mat-spinner>
        <div *ngIf = "loading.login == 0" class="login_button_div">
            <button class="login_button button_login_01" mat-raised-button (click) = "login_common(0,null)">로그인</button>
            <button class="login_button" mat-raised-button color="primary" routerLink="/member/join">회원가입</button>
        </div>
        <div *ngIf = "loading.login == 0" class="login_button_sns">
            <button type="button" (click) = "kakaoLogin()" class="login_button" mat-raised-button class="sns_login_button"><span class="snsIcon">
                    <img src="/assets/sns/kakao.png"></span>
            </button>

            <button type="button" (click) = "googleLogin()" class="login_button" mat-raised-button><span class="snsIcon">
                    <img src="/assets/sns/google.png"></span>
            </button>
        </div>
    </form>

   

</div>