<div class="select_category">
    <!-- <div class="swiper_select_show"></div> -->
    <swiper #type1 *ngIf="loading.type == 1" class="swiper-container type1" [config]="config"
        (indexChange)="type1Change($event)">
        <div *ngFor="let item of typeList.data; let i = index;let last = last" class="swiper-slide">
            <div>
                {{item.type1_name}}
            </div>
        </div>
    </swiper>
    <!-- all is out of type2 swiper -->
    <div *ngFor="let item of typeList.data; let i = index;">
        <!-- <div *ngIf="loading.type == 1 && item.type1_id != 0 && item.type1_id == search.type1"
            class="swiper_select_show"></div> -->
        <swiper #type2 *ngIf="loading.type == 1 && item.type1_id != 0 && item.type1_id == search.type1"
            class="swiper-container type1" [config]="config" (indexChange)="type2Change($event)">
            <div class="swiper-slide" *ngFor="let tpye2Item of item.type2Dto; let j = index; let last = last">
                <div>
                    {{tpye2Item.type2_name}}

                </div>
            </div>
        </swiper>
    </div>
</div>
<div class="work_result">
    <div class="search_text">
        <mat-form-field appearance="legacy">
            <mat-label>저작물 제목</mat-label>
            <input [formControl]="search.searchText" (ngModelChange)="searchChange($event)" matInput
                placeholder="Placeholder">
            <mat-hint>Search the works Subject</mat-hint>
        </mat-form-field>
        <button (click)="artistSearchNativeUrl(1)" mat-raised-button>Search</button>
    </div>
    <div class="order">
        <mat-form-field>
            <mat-label>정렬방법</mat-label>
            <mat-select (ngModelChange)="searchChange($event)" [(ngModel)]="search.order2">
                <mat-option [value]=0>
                    내림차순
                </mat-option>
                <mat-option [value]=1>
                    오름차순
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>정렬유형</mat-label>
            <mat-select (ngModelChange)="searchChange($event)" [(ngModel)]="search.order">
                <mat-option [value]=0>
                    최근저작물
                </mat-option>
                <mat-option [value]=1>
                    저작물갯수
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div class="clear"></div>
    </div>
</div>
<div class="aritst_list">
    <mat-card *ngFor="let item of artist_list; let i = index;" class="artist_item">
        <div *ngIf = "item.see > 0 " (click) = "goToDetail(item.artist_id,1)" class="list_count">
            보는 것 <span>{{item.see}}</span>
        </div>
        <div *ngIf = "item.listen > 0 " (click) = "goToDetail(item.artist_id,2)" class="list_count">
            듣는 것 <span>{{item.listen}}</span>
        </div>
        <div *ngIf = "item.doo > 0 " (click) = "goToDetail(item.artist_id,3)" class="list_count">
            하는 것 <span>{{item.doo}}</span>
        </div>
        <div class = "artist_name">{{item.art_name}}</div>
    </mat-card>
    <div class="clear"></div>
</div>
<div *ngIf="page.artistList.totalSize > 0" class="pagination_class">
    <ngb-pagination [collectionSize]="page.artistList.totalSize" [pageSize]="page.artistList.pageSize"
        [(page)]="page.artistList.pageNum" aria-label="Default pagination"
        (pageChange)="artistSearchNativeUrl(page.artistList.pageNum)">
    </ngb-pagination>
</div>