<h1 mat-dialog-title>저작물 찾기(Search Artist)</h1>
<div mat-dialog-content>
    <div id="work_search_list" class="work_search_list">
        <h1>저작물 제목이 중복되는게 없는지 확인해주세요</h1>
        <mat-form-field class="searchText">
            <input readonly [(ngModel)]="works.searchText" matInput placeholder="저작물 검색">
        </mat-form-field>
        <!-- <button (click)="selectWorkList(works.pageNum)" mat-raised-button color="accent">검색</button> -->
        <div class = "type_two_select">
            <mat-form-field>
                <mat-label>저작물 대분류</mat-label>
                <mat-select>
                    <mat-option>
                        --
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>저작물 소분류</mat-label>
                <mat-select>
                    <mat-option>
                        --
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-accordion>
            <mat-expansion-panel [expanded]="works.step.list == i" (opened)="setStepList($event,i)"
                *ngFor="let item of works_list; let i = index">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span id="w_{{i}}"></span>
                        <mat-checkbox [(ngModel)]="works.checkBox.list[i]" color="primary"
                            (change)="checkAddArtist($event,i)" (click)="removeEventEffectAnymore($event)">
                        </mat-checkbox>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{item.subject}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!-- <span id = "w_{{i}}"></span> -->
                <mat-form-field>
                    <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Age">
                </mat-form-field>
                <mat-action-row>
                    <button *ngIf="works.checkBox.list[i] == undefined || works.checkBox.list[i] == false" mat-button
                        (click)="addWorks(i)">저작자로 추가</button>
                    <button *ngIf="works.checkBox.list[i] == true" mat-button (click)="removeArtist(i)">제거</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="works_list.length > 0" class="pagination_class">
            <ngb-pagination [collectionSize]="works.totalSize.list" [pageSize]="works.pageSize.list"
                [(page)]="works.pageNum" aria-label="Default pagination" (pageChange)="selectWorkList(works.pageNum)">
            </ngb-pagination>
        </div>
        <div *ngIf="works_list.length == 0" class="not_result">검색 결과가 없습니다.</div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="confirm()">확인</button>
    <button mat-button (click)="close()">취소</button>
    <div class="work_create_date_div"></div>
    <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>