<nav id="menu_nav" class="menu_nav">
    <div id="menu_home" class="menu_home"><span  routerLink="/home">THE COMMENTS</span><div class="menu_user"> <button
                *ngIf="loginstate == false" routerLink="member/login" mat-button class="material-icons">
                person
            </button>
            <button *ngIf="loginstate == true" mat-button [matMenuTriggerFor]="myMenu" class="material-icons">
                verified_user
            </button>
            <mat-menu class="mymenu_01" #myMenu="matMenu">
                <button mat-menu-item>마이페이지</button>
                <button (click)="logout()" mat-menu-item>로그아웃</button>
            </mat-menu>
        </div>
    </div>

    <div id="menu_top_div" class="menu_top_div">
        <div class="item">
            <mat-icon>widgets</mat-icon><span>저작물</span>
            <div class="menu_list">
                <ul>
                    <li>
                        <a href ="/works/search/0">찾기</a>
                    </li>
                    <li  routerLink="works/addWork">
                        등록
                    </li>
                </ul>
            </div>
        </div>
        <div class="item">
            <mat-icon>create</mat-icon><span>저작자</span>
            <div class="menu_list">
                <ul>
                    <li>
                        찾기
                    </li>
                    <li routerLink="artist/addArtist">
                        등록
                    </li>
                </ul>
            </div>
        </div>
        <div class="item">
            <mat-icon>mode_comment</mat-icon><span>코멘트</span>
            <div class="menu_list">
                <ul>
                    <li>
                        보는것
                    </li>
                    <li>
                        듣는것
                    </li>
                    <li>
                        하는것
                    </li>
                    <li>
                        등록
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<div id = "nav_space"></div>